{% extends "index.html" %}
{% load crispy_forms_tags %}

{% load static %}
{% block content %}
       <h3 class="page-header text-center" style="margin-top: 110px;" >
            <i class='fa fa-id-card'>Registration</i>
        </h3>
    </div>
    <div class="text-center" style="margin-top: 60px;">
        <form method="POST" autocomplete="off" style="width: 500px; margin-left:35%">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" class="btn btn-primary btn-block" value="Register">
        </form>
    </div>   
{% endblock %}

            